.divAbout{
  width: 550px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
}
.divLinks{
  display: flex;
  height: 40px;
  align-items: center;
}
.hrLinks{
  margin-right: 20px;
  width: 7px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  border: none;
}
.hrAbout{
  width: 100%;
  padding: 1px;
  background-color: rgb(255, 255, 255);
  border: none;
}
@media (max-width: 896px) {
    .divAbout{
      width: 400px;
    }
  
}
@media (max-width: 440px) {
  .divAbout{
    width: 300px;
  }
  .divLinks{
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hrLinks{
    margin-right: 20px;
    width: 0px;
    height: 0%;
    background-color: rgb(255, 255, 255);
    border: none;
  }
}