.hrAbout{
  width: 100%;
  padding: 1px;
  background-color: rgb(255, 255, 255);
  border: none;
}
.info{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 16px;
}
.titleAbout{
  font-size: 2.5em;
  font-weight: 700;
}
.subAbout{
  font-size: 1.5em;
  margin-bottom: 5px;
  font-weight: 500;
}
.pAbout{
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: 400;
}
@media (max-width: 896px) {
  .info{
    color: white;
    font-size: 12px;
  }

}
@media (max-width: 759px) {
  .info{
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }
  .titleAbout{
    font-size: 1.8em;
    font-weight: 700;
  }
  .subAbout{
    font-size: 1.2em;
    margin-bottom: 5px;
    font-weight: 500;
  }
}
@media (max-width: 440px) {
  .info{
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .titleAbout{
    font-size: 1.5em;
    font-weight: 700;
  }
  .subAbout{
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .pAbout{
    text-align: center;
  }
}